USE [master]
GO
/****** Object:  Database [TestDB_2021_CS_142]    Script Date: 1/22/2023 12:32:52 PM ******/
CREATE DATABASE [TestDB_2021_CS_142]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestDB_2021_CS_142', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TestDB_2021_CS_142.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestDB_2021_CS_142_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TestDB_2021_CS_142_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestDB_2021_CS_142].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestDB_2021_CS_142]
GO
/****** Object:  Table [dbo].[student]    Script Date: 1/22/2023 12:32:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student](
	[id] [int] NULL,
	[password] [varchar](50) NULL,
	[firstName] [varchar](50) NULL,
	[lastName] [varchar](50) NULL,
	[rollNo] [varchar](50) NULL,
	[userName] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
